<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>FOTransBaseFE Test</title>
		<script type="text/javascript" src='./node_modules/angular/angular.js'></script>
		<script type="text/javascript" src="./controller/TitleBarCtrl.js"></script>
		<script type="text/javascript" src="./app.js"></script>
		<link rel="stylesheet" type="text/css" href="./static/main/main.css">
	</head>
	<body>
		<div id="main">
			<div ng-controller="SpicyController">
				<button ng-click="chiliSpicy()">Chili</button>
				<button ng-click="jalapenoSpicy()">Jalapeño</button>
				<p>The food is {{spice}} spicy!</p>
			</div>
		</div>
	</body>
</html>